/* WebSlider (https://github.com/Imdsm/WebSlider)
 * Adam K Dean (Imdsm)
 * 15/07/2013
 */

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.container { }

.slide { padding: 35px; }

.slide h1 { margin: 0; }

.slide.blue { background: #0087bd; color: #ffffff; }
.slide.blue .button { background: #ffffff; color: #333333; }
.slide.blue .button:hover { background: #dddddd; color: #000000; }

.slide.white { background: #ffffff; color: #000000; }
.slide.white .button { background: #dddddd; color: #333333; }
.slide.white .button:hover { background: #cccccc; color: #111111; }

.slide.yellow { background: #ffd300; color: #000000; }
.slide.yellow .button { background: #ffffff; color: #333333; }
.slide.yellow .button:hover { background: #fff5c4; color: #000000; }

.button { 	
	padding: 10px; text-decoration: none; 
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px; 
	        border-radius: 5px; 
}