/* WebSlider (https://github.com/Imdsm/WebSlider)
 * Adam K Dean (Imdsm)
 * 15/07/2013
 */

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.container { }

.slide { position: relative; padding: 35px; }

.slide h1 { text-align: center; font-size: 400%; }
.slide h2 { text-align: center; font-size: 250%; }
.slide p.button { position: absolute; width: 200px; left: 50%; margin-left: -100px; bottom: 70px; }

.slide p.button a {
	margin: 10px 0; padding: 15px 20px; text-decoration: none; font-size: 200%;
	-webkit-border-radius: 5px; moz-border-radius: 5px; border-radius: 5px; 
}

.slide.blue { background: #0087bd; color: #ffffff; }
.slide.blue p.button a { background: #ffffff; color: #333333; }
.slide.blue p.button a:hover { background: #dddddd; color: #000000; }

.slide.white { background: #ffffff; color: #000000; }
.slide.white p.button a { background: #dddddd; color: #333333; }
.slide.white p.button a:hover { background: #cccccc; color: #111111; }

.slide.yellow { background: #ffd300; color: #000000; }
.slide.yellow p.button a { background: #ffffff; color: #333333; }
.slide.yellow p.button a:hover { background: #fff5c4; color: #000000; }